// Home - main

// Section 1

.section1 {
  width: 100%;
  padding: 30px 15px 45px 15px;
  background-color: $color-light;
  position: relative;

  @media all and (min-width: 768px) {
    padding-bottom: 60px;
  }

  @media all and (min-width:1280px) {
    padding-top: 60px;
  }
}

.section1__anchor {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
}

.section1__container {
  width: 100%;
  max-width: 690px;
  margin: 0 auto;

  @media all and (min-width: 1280px) {
    max-width: 730px;
  }
}

.section1__tag {
  font-size: 14px;
  color: $color-midtone;
  text-transform: capitalize;
  line-height: 2.14;

  @media all and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.section1__title {
  margin: 0;
  font-family: $font-family-secondary;
  font-size: 24px;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  line-height: 1.25;

  @media all and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.73;
  }

  @media all and (min-width:1280px) {
    font-size: 32px;
    line-height: 1.41;
  }
}

.section1__text {
  margin: 15px 0 30px 0;
  color: $color-dark-midtone;
  line-height: 1.67;
  text-align: left;

  @media all and (min-width: 768px) {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.go-button__link {
  width: 76px;
  height: 45px;
  border: 2px solid $color-secondary;
  border-radius: 22px;
  background-color: $color-light;
  font-size: 20px;
  font-weight: $font-weight-medium;
  color: $color-secondary;
  text-decoration: none;
  text-align: center;
  line-height: 2.25;
  display: inline-block;
  transition: all ease 1s;

  &:hover {
    background-color: $color-secondary;
    color: $color-light;
  }

  @media all and (min-width:768px) {
    width: 90px;
  }

  @media all and (min-width:1280px) {
    width: 160px;
  }
}

// Section 2

.section2 {
  width: 100%;
  padding: 30px 15px 60px 15px;
  background-color: $color-light-midtone;

  @media all and (min-width: 1280px) {
    padding-top: 60px;
  }
}

.section2__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.section2__title {
  margin: 0;
  font-family: $font-family-secondary;
  font-size: 24px;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  line-height: 1.25;

  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.73;
  }

  @media all and (min-width:1280px) {
    font-size: 32px;
    line-height: 1.41;
  }
}

.section2__list {
  margin: 45px 0 0;
  padding: 0;
  list-style: none;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (min-width: 768px) {
    margin-bottom: 60px;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 650px;
  }

  @media all and (min-width:1280px) {
    
  }
}

.list__item {
  margin-bottom: 45px;

  @media all and (min-width: 768px) {
    max-width: 200px;
  }
}

.item__title {
  margin: 0;
  font-family: $font-family-secondary;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  line-height: 1.67;
  text-align: center;

  @media all and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.25;
  }
}

.item__text {
  margin: 0;
  line-height: 1.67;
  text-align: center;

  @media all and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.more-reasons__link {
  width: 184px;
  height: 45px;
  border: 2px solid $color-secondary;
  border-radius: 22px;
  background-color: $color-secondary;
  font-size: 20px;
  font-weight: $font-weight-medium;
  color: $color-light;
  text-decoration: none;
  text-align: center;
  line-height: 2.25;
  display: inline-block;
  transition: all ease 1s;

  &:hover {
    background-color: $color-light;
    color: $color-secondary;
  }

  @media all and (min-width:768px) {
    width: 210px;
  }

  @media all and (min-width:1280px) {
    width: 255px;
  }
}