@import 'core/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-primary;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  color: $font-color-base;
  background-color: $color-light;
}

@import 'layout/header';

@import 'layout/footer';

@import 'pages/home';