<header class="hero">

  <div class="header__anchor" id="header"></div>

  <button class="menu__button">
    <img class="menu__image" src="assets/images/ico-menu.svg" alt="">
  </button>

  <div class="header__container">
    <h1 class="header__title">Anonymous proxy</h1>

    <p class="header__text">In hac habitasse platea dictumst.</p>

    <div class="scroll-down__container">
      <a href="#section1" class="scroll-down__link">
        <img class="scroll-down__image" src="assets/images/ico-scroll-down.svg" alt="Down arrow button linking to next section">
      </a>
    </div>
  </div>

</header>