<header class="hero">

  <a href="" class="menu__button">
    <img class="menu__image" src="assets/images/ico-menu.svg" alt="">
  </a>

  <div class="header__container">
    <h1 class="header__title">Anonymous proxy</h1>

    <p class="header__text">In hac habitasse platea dictumst.</p>

    <div class="container__scroll-down">
      <a href="" class="scroll-down__link">
        <img class="scroll-down__image" src="assets/images/ico-scroll-down.svg" alt="">
      </a>
    </div>
  </div>

</header>