<main class="main">

  <section class="section1">
    <div class="section1__anchor" id="section1"></div>
    
    <div class="section1__container">
      <div class="section1__tag">Insomnia tips</div>

      <h2 class="section1__title">Looking through a window</h2>

      <p class="section1__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>

      <!-- <div class="go-button__container"> -->
          <a href="" class="go-button__link">Go</a>
      <!-- </div> -->
    </div>
  </section>

  <section class="section2">
    <h2 class="section2__title">3 reasons to purchase</h2>

    <ul class="section2__list">
      <li class="list__item">
        <h3 class="item__title">Ut sed metus</h3>
        <p class="item__text">Lorem ipsum dolor sit amet, consecteur.</p>
      </li>

      <li class="list__item">
        <h3 class="item__title">Curabitur ac erat</h3>
        <p class="item__text">Mauris mattis urna quis lorem molestie.</p>
      </li>

      <li class="list__item">
        <h3 class="item__title">Morbi dictum</h3>
        <p class="item__text">Aliquam in dolor et dolor tincidunt.</p>
      </li>
    </ul>

    <!-- <div class="more-reasons__container"> -->
      <a href="" class="more-reasons__link">More reasons</a>
    <!-- </div> -->
  </section>

</main>