<main class="main">

  <section class="section1">
    <div class="section1__container">
      <span class="section1__tag">Insomnia tips</span>

      <h2 class="section1__title">Looking through a window</h2>

      <p class="section1__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, ex. Porro temporibus
        nemo deserunt numquam quam eum aperiam, odio repudiandae tenetur officia accusantium recusandae laborum iste
        dignissimos ullam. Maxime, nihil.</p>

      <a href="" class="go-button">Go</a>
    </div>
  </section>

  <section class="section2">
    <h2 class="section2__title">3 reasons to purchase</h2>

    <ul class="section2__list">
      <li class="list__item">
        <h3 class="item__title"></h3>
        <p class="item__text"></p>
      </li>

      <li class="list__item">
        <h3 class="item__title"></h3>
        <p class="item__text"></p>
      </li>

      <li class="list__item">
        <h3 class="item__title"></h3>
        <p class="item__text"></p>
      </li>
    </ul>

    <a href="" class="more-reasons">More reasons</a>
  </section>

</main>